body {
    background-image: url("../img/back2.jpg");
    background-repeat: no-repeat;
    background-color: #cccccc;
}

#formSearchUser {
    width: 200px;
}
#formSearchUserButton {
    width: 200px;
}